body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }

@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.list-group.wd > .list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
  }
  
  .btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
  }
  .bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
  }
  .list-group-item {
    --bs-list-group-border-color: gray;
  }
  .wd-lesson {
    border-left: 3px solid green !important;
  }

  #wd-search-assignment {

    width: 140px; /* Sets the input width to 200 pixels */
    height: 48px;
    border-radius: 10px;
  }

  .wd-rounded-corners-all-around {
    border-radius: 50px;
   }
   
  #wd-search-box {

    width: 180px; /* Sets the input width to 200 pixels */
    height: 50px;
    border-radius: 10px;
  }

  .wd-assignment-link{
    text-decoration: none;
  }
  
